{% extends 'index.html' %}
{% load static %}
{% block banner %}
    <section id="main">
        <div class="left">
            <p class="title">Collect garbage at your footsteps.</p>
            <small class="description">A one step solution for garbage collection. We are one of the leading value for money garbage collecting agency across the country.Give us a chance to serve you and I assure you will never regret our services.</small>
            <a href="{% url 'login_view' %}"><button type="button" >Check services</button></a>
        </div>

    </section>
{% endblock banner %}