
{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container">
      <div class="forms-container">
        <div class="message-container">
          {% if error %}
          <p style="color: red;">{{ error }}</p>
          {% endif %}
        </div>

        <div class="signin-signup">
          <form action="{% url 'login_view' %}" class="sign-in-form" method="POST">  
            {% csrf_token %}
            
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password"/>
            </div>
            <input type="submit" value="Login" class="btn solid" onclick="window.location.assign('/')" />
            
          </form>
          <form action="{% url 'register' %}" method="post" class="sign-up-form" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" name="email"/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="text" placeholder="phone" name="phone"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder=" Confirm Password" name="cpassword"/>
            </div>
            <input type="submit" class="btn" value="Sign up" />
            
            
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3 style="color:#333 ;" >New here ?</h3>
            <p style="color:#333 ;">
              Be a part of the planet
            </p>
            <button style="display: inline-block; padding: 10px 20px; margin-top: 20px; background: #007bff; color: white; text-decoration: none; border-radius: 5px; transition: background 0.3s ease;"  id="sign-up-btn">
              Sign up
            </button>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3 style="color: #333;">One of us ?</h3>
            <button style="display: inline-block; padding: 10px 20px; margin-top: 20px; background: #007bff; color: white; text-decoration: none; border-radius: 5px; transition: background 0.3s ease;" id="sign-in-btn">
              Sign in
            </button>
          </div>
        </div>
      </div>
      <script src="{% static 'app.js' %}"></script>
    </div>
    {% endblock content %}
    
 